In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
-->Comments in Python are identified with a hash symbol, '#', and extend to the end of the line
#This is a comment line

In [ ]:
-->There are two types of comments single line and multiline
1)Single line: As mentioned above by simply puting '#' infront of line make that line as comment
#This is a single line comment

In [ ]:
2)Multiline: There are two way to make multiline comments 
1.By simply puting '#' infront of eachline make those line as comment
#This is 
#Multiline comment
2.By using tripple sigle quotes or triple double quotes
'''
This is an 
example of
multiline comments'''
"""
This onther 
example of multiline comments"""

In [ ]:
Q2. What are variables in Python? How do you declare and assign values to variables?
-->A variable is a string of characters and numbers associated with a piece of data or information. We can use assignment
operator (“=”) to assign values to variables in Python. Here are some example for variable:

In [7]:
x=2
print(type(x))
print(x)

<class 'int'>
2

In [8]:
str1='hi 123.'
print(type(str1))
print(str1)

<class 'str'>
hi 123.

In [10]:
fl_t=220.2
print(type(fl_t))
print(fl_t)

<class 'float'>
220.2

In [ ]:
Q3. How do you convert one data type to another in Python?
-->There are two types of Type Conversion in Python:

In [12]:
#1. Implicit Type Conversion: Python convert data types at the time of assignment without user ivolvement.
x=123
y='Hi'
z=23.89
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [17]:
#2.Explicit Type Conversion: The data type is manually changed by the user as per their requirement.
# Use function of datatype(str(),tuple(),list(), etc.) to convert provide data type in to required data type
a=908
b=str(a)
print(type(a))
print(a)
print(type(b))
print(b)

<class 'int'>
908
<class 'str'>
908

In [18]:
str3='Hi All, Have you completed your assignment?'
str4=list(str3)
str5=tuple(str3)
str6=set(str3)
print(type(str3))
print(str3)
print(type(str4))
print(str4)
print(type(str5))
print(str5)
print(type(str6))
print(str6)

<class 'str'>
Hi All, Have you completed your assignment?
<class 'list'>
['H', 'i', ' ', 'A', 'l', 'l', ',', ' ', 'H', 'a', 'v', 'e', ' ', 'y', 'o', 'u', ' ', 'c', 'o', 'm', 'p', 'l', 'e', 't', 'e', 'd', ' ', 'y', 'o', 'u', 'r', ' ', 'a', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n', 't', '?']
<class 'tuple'>
('H', 'i', ' ', 'A', 'l', 'l', ',', ' ', 'H', 'a', 'v', 'e', ' ', 'y', 'o', 'u', ' ', 'c', 'o', 'm', 'p', 'l', 'e', 't', 'e', 'd', ' ', 'y', 'o', 'u', 'r', ' ', 'a', 's', 's', 'i', 'g', 'n', 'm', 'e', 'n', 't', '?')
<class 'set'>
{'v', '?', 'l', 'c', ' ', 'p', 'd', 'y', 's', 'i', 'A', ',', 'r', 'e', 'a', 'o', 't', 'g', 'n', 'u', 'H', 'm'}

In [ ]:
Q4. How do you write and execute a Python script from the command line?
-->The most basic and easy way to run a Python script is by using the python command. You need to open a command 
line and type the word python followed by the path to your script file like this:
-->python first_script.py
Output:Hello World!

In [ ]:
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [20]:
my_list = [1, 2, 3, 4, 5]
sub_list=my_list[1:3]
print(sub_list)

[2, 3]

In [ ]:
Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
Complex numbers are the combination of real and imaginary numbers. The real part can be 
expressed by an integer or decimal, while the imaginary part has a square that is negative.

In [ ]:
In Python Complex numbers are the numbers that are expressed in the form of a+bj where, a,b 
are real numbers and  ‘j’ is an imaginary number called “iota”. The value of j = (√-1). 
For example, 2+3j is a complex number, where 2 is a real number (Re) and 3j is an imaginary number (Im)

In [26]:
com=2+5j
print(com)
print(type(com))
print(com.real)
print(com.imag)

(2+5j)
<class 'complex'>
2.0
5.0

In [ ]:
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [27]:
age=25
print(age)
print(type(age))

25
<class 'int'>

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [28]:
price=9.99
print(price)
print(type(price))

9.99
<class 'float'>

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [29]:
name='Ankit Bodar'
print(name)

Ankit Bodar

In [ ]:
Q10. Given the string "Hello, World!", extract the substring "World".

In [33]:
str7="Hello, World!"
sub=str7[7:12]
print(sub)

World

In [ ]:
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [34]:
is_student=False
print(is_student)
print(type(is_student))

False
<class 'bool'>