In [ ]:
Q1. Create one variable containing following type of data:

In [26]:
#String
str1='Welcome to Python'

In [3]:
#list
lst=[1,2,'Hello',4.6,[5,7]]

In [4]:
#Float
flt=2.345

In [5]:
#tuple
tp=(5,2,"Apple","Car")

In [ ]:
Q2. Given are some following variables containing data:

In [ ]:
(i) var1 = ‘ ‘ --->string
(ii) var2 = ‘[ DS , ML , Python]’-->string
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]-->List
(iv) var4 = 1--> Integer

In [ ]:
Q3. Explain the use of the following operators using an example:

In [ ]:
(i) /--> This is division Operator, it will provide answer in floating point.

In [6]:
a=17/3
print(a)

5.666666666666667

In [ ]:
(ii) %--> This is modulus operator and it wil provide reminder after division.

In [7]:
b=5%2
print(b)

1

In [ ]:
(iii) //--> This is floor division operator an it will provide integer answer for division.

In [9]:
c=17//3
print(c)

5

In [ ]:
(iv) **--> This is exponentiation operator, it works as power function.

In [10]:
d=2**3
print(d)

8

In [12]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
lst=[1,2.3,3+5j,['Hi','Bye'],'Apple',(4,0),8,3,8.34,'Python']

In [16]:
for i in range(0,len(lst)):
               print(lst[i])
               print(type(lst[i]))

1
<class 'int'>
2.3
<class 'float'>
(3+5j)
<class 'complex'>
['Hi', 'Bye']
<class 'list'>
Apple
<class 'str'>
(4, 0)
<class 'tuple'>
8
<class 'int'>
3
<class 'int'>
8.34
<class 'float'>
Python
<class 'str'>

In [17]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [21]:
A=400
B=2
count=0
while(A%B==0):
    count+=1
    A//=B
print(count)

4

In [22]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [1]:
lst1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in range(0,len(lst1)):
    if lst1[i]%3==0:
        print(str(lst1[i])+' is divisible by 3.')
    else:
        print(str(lst1[i])+' is not divisible by 3.')

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
Mutable--> An python object that has capacity to modify its value is know as mutable. For example List, Dictionaries, Sets.

In [7]:
lst2=['Apple','Banana','Mango']

In [8]:
#As have define lst2 as list and now we will try to modify the list by replacing the its first element with car
lst2[0]='Car'
print(lst2)

['Car', 'Banana', 'Mango']

In [ ]:
Immutable--> An python object that cannot modify its value is know as imutable. The value of these python object is 
fixed once they are made. For example Tuples,String.

In [9]:
str2='Hello, We come to python programming class.'

In [11]:
#As have define str2 as string and now we will try to modify the string element.
str2[18]='P'
print(str2)

TypeError: 'str' object does not support item assignment

In [ ]:
#As we can see in the above error string object does not support the modification.