In [ ]:
Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

In [ ]:
MongoDB is a popular document-oriented, NoSQL database that provides a flexible and scalable 
solution for storing and managing data. It differs from traditional relational databases by 
employing a non-relational data model.

In [ ]:
Non-relational databases, also known as NoSQL databases, are a category of databases that 
deviate from the traditional relational database model. 
They offer a more flexible and dynamic approach to data storage and retrieval. 
Unlike relational databases, which use tables, rows, and columns, non-relational databases use 
various data models, such as key-value pairs, documents, graphs, or wide-column stores, to organize and store data. 
Non-relational databases prioritize scalability, performance, and agility over strict data consistency and structured 
schemas. 
They are well-suited for handling large volumes of unstructured or semi-structured data, accommodating 
changing data requirements, and enabling horizontal scaling across multiple servers or clusters.

In [ ]:
MongoDB is often preferred over SQL databases (relational databases) in certain scenarios, including:

1. Handling Large Amounts of Unstructured Data: MongoDB excels in storing and managing unstructured or 
semi-structured data, such as documents, JSON, or XML. It allows for flexible schema design and dynamic 
modifications to adapt to changing data requirements.

2. Agile Development and Rapid Prototyping: MongoDB's flexible data model makes it ideal for agile 
development practices and rapid prototyping. It enables developers to iterate quickly and easily modify 
the data structure without strict schema constraints.

3. Scalability and High Availability: MongoDB is designed to scale horizontally, allowing you to distribute 
data across multiple servers or clusters effortlessly. It provides built-in sharding and replication 
capabilities for achieving high scalability and high availability.

4. Real-time Analytics and Big Data: MongoDB's ability to handle large volumes of data and its support for 
real-time analytics make it suitable for big data applications. It allows for efficient querying, indexing, 
and aggregation of data for analytics purposes.

5. Content Management Systems and Catalogs: MongoDB's flexible document model makes it suitable for content 
management systems, catalogs, and applications where the data has varying structures and attributes. 
It simplifies storing and retrieving complex, hierarchical, or nested data structures.

In [ ]:
Q2. State and Explain the features of MongoDB.

In [ ]:
MongoDB, being a popular NoSQL database, offers a range of features that distinguish it from traditional SQL databases. 
Here are some key features of MongoDB:

Document-Oriented: 
    MongoDB is a document-oriented database, where data is stored in flexible, self-contained documents. Each 
    document can have a different structure, allowing for easy representation of complex, hierarchical, or nested data.

Flexible Schema: 
    MongoDB's flexible schema design allows for dynamic modifications to the data structure without requiring a 
    predefined schema. It enables developers to handle evolving data requirements and makes MongoDB well-suited 
    for agile development and prototyping.

Scalability and High Availability: 
    MongoDB provides horizontal scalability through automatic sharding, allowing you to distribute data across 
    multiple servers or clusters. It supports replica sets for high availability, ensuring data redundancy and 
    failover protection.

Rich Query Language: 
    MongoDB's query language provides a wide range of powerful and expressive querying capabilities. It supports 
    a comprehensive set of operators, functions, and aggregation frameworks, allowing for complex queries and 
    real-time analytics.

Indexing and Performance: 
    MongoDB offers various indexing techniques to optimize query performance. It supports single-field and 
    compound indexes, text indexes for full-text search, geospatial indexes for location-based queries, and more.

Ad Hoc Queries: 
    MongoDB allows ad hoc queries, meaning you can query and filter data using any field in the document without
    the need to define predefined indexes or relationships in advance.

GridFS: 
    MongoDB includes GridFS, a specification for storing and retrieving large files and binary data. It splits 
    files into small chunks and stores them as separate documents, making it suitable for handling large multimedia 
    files or other types of unstructured data.

Replication and Failover: 
    MongoDB's replica sets provide automatic failover and data redundancy. Replica sets consist of primary and s
    econdary nodes, ensuring high availability and data durability.

Geospatial Capabilities: 
    MongoDB has built-in support for geospatial data, allowing for the storage and querying of location-based information. It provides geospatial indexes and query operators for performing proximity searches and spatial analysis.

Integration and Ecosystem: 
    MongoDB offers a wide range of drivers and connectors for various programming languages, making it easy to 
    integrate with different application stacks. It also has extensive community support, documentation, and a 
    rich ecosystem of tools and frameworks.

    
These features make MongoDB a popular choice for applications that require scalability, flexibility, and 
the ability to handle unstructured data efficiently. It is particularly suitable for agile development, 
content management systems, real-time analytics, and applications dealing with large volumes of semi-structured 
or unstructured data.

In [ ]:
Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 16.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 40.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://ankitbodar001:17931793@cluster0.z8vs20i.mongodb.net/?retryWrites=true&w=majority")

In [3]:
db=client["New_DB"]

In [4]:
coll=db["Test_Collection"]

In [5]:
db

Database(MongoClient(host=['ac-yze2nxz-shard-00-02.z8vs20i.mongodb.net:27017', 'ac-yze2nxz-shard-00-00.z8vs20i.mongodb.net:27017', 'ac-yze2nxz-shard-00-01.z8vs20i.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-zeyzey-shard-0', tls=True), 'New_DB')

In [ ]:
Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
#Inserting one record into the collection
data={"Name":"Ankit",
      "Class":"Data Science",
      "Time":"Flexible"}
coll.insert_one(data)

In [8]:
#Inserting many records into the collection
data2 = [
{ "name": "Amy", "address": "Apple st 652" },
{ "name": "Hannah", "address": "Mountain 21" },
{ "name": "Michael", "address": "Valley 345" },
{ "name": "Sandy", "address": "Ocean blvd 2" },
{ "name": "Betty", "address": "Green Grass 1" },
{ "name": "Richard", "address": "Sky st 331" },
{ "name": "Susan", "address": "One way 98" },
{ "name": "Vicky", "address": "Yellow Garden 2" },
{ "name": "Ben", "address": "Park Lane 38" },
{ "name": "William", "address": "Central st 954" },
{ "name": "Chuck", "address": "Main Road 989" },
{"name": "Viola", "address": "Sideway 1633" }
]
coll.insert_many(data2)

In [10]:
#extract one record
coll.find_one()

{'_id': ObjectId('648d78633e674ba7a0fe1173'),
 'Name': 'Ankit',
 'Class': 'Data Science',
 'Time': 'Flexible'}

In [12]:
#extract all the record present in Collection
for i in coll.find():
    print(i)

{'_id': ObjectId('648d78633e674ba7a0fe1173'), 'Name': 'Ankit', 'Class': 'Data Science', 'Time': 'Flexible'}
{'_id': ObjectId('648d788c3e674ba7a0fe1174'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648d788c3e674ba7a0fe1175'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648d788c3e674ba7a0fe1176'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648d788c3e674ba7a0fe1177'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe1178'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648d788c3e674ba7a0fe1179'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648d788c3e674ba7a0fe117a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648d788c3e674ba7a0fe117b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe117c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648d788c3e674ba7a0fe117d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648d788c3e674ba7a0fe117e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648d788c3e674ba7a0fe117f'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.

In [ ]:
In MongoDB, the find() method is used to query a collection and retrieve documents that 
match specified criteria. It allows you to retrieve data based on various conditions, such 
as field values, logical operators, regular expressions, and more. Here how you can use the 
find() method and a code example to demonstrate its usage:
    
    db.collection_name.find(query, projection)

Parameters:
query (optional): 
    Specifies the selection criteria for the documents to be retrieved. 
    It can include field-value pairs, logical operators, regular expressions, and more.
projection (optional): 
    Specifies which fields to include or exclude from the result set. 
    It can be used to shape the output of the query.

In [21]:
data3=[{"name":"Data","Age":20},{"name":"Science","Age":200}]

In [22]:
coll.insert_many(data3)

In [27]:
#example for how to use find()
for i in coll.find({"Age": { "$gt": 25 }}):
    print(i)

{'_id': ObjectId('648d7ca73e674ba7a0fe1181'), 'name': 'Science', 'Age': 200}

In [ ]:
In this example, we connect to the MongoDB server, select the "New_DB" database, 
and access the "Test_Collection" collection. We define a query to retrieve all documents where the 
"Age" field is greater than 25. We then use the find() method to execute the query and fetch 
the matching documents. Finally, we iterate over the result set and print each document.

In [ ]:
Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [ ]:
In MongoDB, the sort() method is used to sort the documents in a specified order within a collection. 
It allows you to arrange the retrieved documents based on one or more fields in ascending or descending order. 
Here's an explanation of the sort() method and an example to demonstrate sorting in MongoDB:

    db.collection_name.find().sort(sort_key, sort_order)
    
Parameters:
sort_key: 
    Specifies the field(s) based on which the sorting will be performed. It can be a single field or a list of fields.
sort_order (optional): 
    Specifies the sorting order. It can be pymongo.ASCENDING (ascending order) or pymongo.DESCENDING (descending order).

In [28]:
# Fetch all users and sort them by age in descending order
result = coll.find().sort("Age", pymongo.DESCENDING)

# Print the sorted documents
for document in result:
    print(document)

{'_id': ObjectId('648d7ca73e674ba7a0fe1181'), 'name': 'Science', 'Age': 200}
{'_id': ObjectId('648d7ca73e674ba7a0fe1180'), 'name': 'Data', 'Age': 20}
{'_id': ObjectId('648d78633e674ba7a0fe1173'), 'Name': 'Ankit', 'Class': 'Data Science', 'Time': 'Flexible'}
{'_id': ObjectId('648d788c3e674ba7a0fe1174'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648d788c3e674ba7a0fe1175'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648d788c3e674ba7a0fe1176'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648d788c3e674ba7a0fe1177'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe1178'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648d788c3e674ba7a0fe1179'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648d788c3e674ba7a0fe117a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648d788c3e674ba7a0fe117b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe117c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648d788c3e674ba7a0fe117d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648d788c3e674ba7a0fe117e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648d788c3e674ba7a0fe117f'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [ ]:
In this example, we connect to the MongoDB server, select the "New_DB" database, 
and access the "Test_Collection" collection We use the find() method to retrieve all documents from the collection. 
The sort() method is then applied to sort the documents based on the "Age" field in descending order. 
Finally, we iterate over the sorted result set and print each document.

In [ ]:
You can also sort by multiple fields by specifying a list of fields in the sort_key parameter. 
For example, to sort by "Age" in ascending order and then by "name" in descending order:

In [29]:
result = coll.find().sort([("age", pymongo.ASCENDING), ("name", pymongo.DESCENDING)])
# Print the sorted documents
for document in result:
    print(document)

{'_id': ObjectId('648d788c3e674ba7a0fe117d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648d788c3e674ba7a0fe117f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648d788c3e674ba7a0fe117b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe117a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648d7ca73e674ba7a0fe1181'), 'name': 'Science', 'Age': 200}
{'_id': ObjectId('648d788c3e674ba7a0fe1177'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe1179'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648d788c3e674ba7a0fe1176'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648d788c3e674ba7a0fe1175'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648d7ca73e674ba7a0fe1180'), 'name': 'Data', 'Age': 20}
{'_id': ObjectId('648d788c3e674ba7a0fe117e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648d788c3e674ba7a0fe1178'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648d788c3e674ba7a0fe117c'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648d788c3e674ba7a0fe1174'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648d78633e674ba7a0fe1173'), 'Name': 'Ankit', 'Class': 'Data Science', 'Time': 'Flexible'}

In [ ]:
This example sorts the documents first by the "Age" field in ascending order and then by the "name" field in 
descending order.

The sort() method is useful for organizing the query results in a specific order, based on one or more fields. 
It allows you to control the presentation of the retrieved data and can be combined with other query operators 
and projection to achieve more complex sorting requirements.

In [ ]:
Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
In MongoDB, the delete_one(), delete_many(), and drop() methods are used to remove documents or entire 
collections from a database. Here's an explanation of when and how each method is used:

In [ ]:
delete_one():
The delete_one() method is used to delete a single document that matches a specified filter. 
It removes the first document that matches the filter criteria. If multiple documents match the 
filter, only the first one encountered is deleted.

In [34]:
data4=[{ "name": "Ben", "address": "Park Lane 38" },
{ "name": "Ben", "address": "Central st 1000" }]
coll.insert_many(data4)

In [36]:
result = coll.find()
# Print the sorted documents
for document in result:
    print(document)

{'_id': ObjectId('648d78633e674ba7a0fe1173'), 'Name': 'Ankit', 'Class': 'Data Science', 'Time': 'Flexible'}
{'_id': ObjectId('648d788c3e674ba7a0fe1174'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648d788c3e674ba7a0fe1175'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648d788c3e674ba7a0fe1176'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648d788c3e674ba7a0fe1177'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe1178'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648d788c3e674ba7a0fe1179'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648d788c3e674ba7a0fe117a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648d788c3e674ba7a0fe117b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe117d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648d788c3e674ba7a0fe117e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648d788c3e674ba7a0fe117f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648d7ca73e674ba7a0fe1180'), 'name': 'Data', 'Age': 20}
{'_id': ObjectId('648d7ca73e674ba7a0fe1181'), 'name': 'Science', 'Age': 200}
{'_id': ObjectId('648d808f3e674ba7a0fe1184'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('648d808f3e674ba7a0fe1185'), 'name': 'Ben', 'address': 'Central st 1000'}

In [37]:
coll.delete_one({"name": "Ben"})

In [38]:
result = coll.find()
# Print the sorted documents
for document in result:
    print(document)

{'_id': ObjectId('648d78633e674ba7a0fe1173'), 'Name': 'Ankit', 'Class': 'Data Science', 'Time': 'Flexible'}
{'_id': ObjectId('648d788c3e674ba7a0fe1174'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648d788c3e674ba7a0fe1175'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648d788c3e674ba7a0fe1176'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648d788c3e674ba7a0fe1177'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe1178'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648d788c3e674ba7a0fe1179'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648d788c3e674ba7a0fe117a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648d788c3e674ba7a0fe117b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe117d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648d788c3e674ba7a0fe117e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648d788c3e674ba7a0fe117f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648d7ca73e674ba7a0fe1180'), 'name': 'Data', 'Age': 20}
{'_id': ObjectId('648d7ca73e674ba7a0fe1181'), 'name': 'Science', 'Age': 200}
{'_id': ObjectId('648d808f3e674ba7a0fe1185'), 'name': 'Ben', 'address': 'Central st 1000'}

In [ ]:
#In this example, the delete_one() method deletes the first document in the "Test_Collection" collection
#that has a "name" field equal to "Ben".
This recorde is still there 'name': 'Ben', 'address': 'Central st 1000'

In [ ]:
delete_many():
The delete_many() method is used to delete multiple documents that match a specified filter. 
It removes all documents that match the filter criteria.
Syntax:
    db.collection_name.delete_many(filter)

In [43]:
#Example:
# Delete all documents with a specified filter
coll.delete_many({"Age": {"$gte": 10}})

In [ ]:
In this example, the delete_many() method deletes all documents in the "Test_Collection" collection 
where the "Age" field is greater than or equal to 10.

In [44]:
result = coll.find()
# Print the sorted documents
for document in result:
    print(document)

{'_id': ObjectId('648d78633e674ba7a0fe1173'), 'Name': 'Ankit', 'Class': 'Data Science', 'Time': 'Flexible'}
{'_id': ObjectId('648d788c3e674ba7a0fe1174'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('648d788c3e674ba7a0fe1175'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('648d788c3e674ba7a0fe1176'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('648d788c3e674ba7a0fe1177'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe1178'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('648d788c3e674ba7a0fe1179'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('648d788c3e674ba7a0fe117a'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('648d788c3e674ba7a0fe117b'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('648d788c3e674ba7a0fe117d'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('648d788c3e674ba7a0fe117e'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('648d788c3e674ba7a0fe117f'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('648d808f3e674ba7a0fe1185'), 'name': 'Ben', 'address': 'Central st 1000'}

In [ ]:
#both recorde with Age greater then 10 (('name': 'Data', 'Age': 20),('name': 'Science', 'Age': 200)) has been deleted

In [ ]:
drop():
The drop() method is used to delete an entire collection from a database. 
It removes the collection along with all its documents.
Syntax:

db.collection_name.drop()

In [46]:
coll.drop()

In [ ]:
The delete_one() and delete_many() methods are useful when you want to remove specific documents 
from a collection based on certain criteria. They allow for granular control over deletion operations. 
On the other hand, the drop() method is useful when you want to completely remove a collection and all 
its associated documents.

It is important to exercise caution when using these methods, as they perform irreversible deletions. 
Always double-check your filter criteria to ensure you are targeting the correct documents or collection 
before executing these methods.