In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

data=[4,8,15,16,23,42]
Series =pd.Series(data)
print(Series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [5]:
lst=list(range(1,11))
ser=pd.Series(lst)
print(ser)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
data={
    'Name':['Alice','Bob','Claire'],
     'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
-->In pandas, a DataFrame is a two-dimensional labeled data structure that can store data of different types 
    (e.g., numerical, categorical, string) in columns. It is similar to a table or a spreadsheet in which each column 
    represents a variable, and each row represents an observation or data point.

-->On the other hand, a Series is a one-dimensional labeled array that can store data of a single data type. 
    It can be thought of as a single column of a DataFrame.

Here is an example to illustrate the difference between a DataFrame and a Series:

In [8]:
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Creating a Series
ages = pd.Series([25, 30, 27], name='Age')

print("DataFrame:")
print(df)
print("\nSeries:")
print(ages)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series:
0    25
1    30
2    27
Name: Age, dtype: int64

In [ ]:
In the code above, we first create a DataFrame using the pd.DataFrame() function by passing a dictionary containing 
the data. The resulting DataFrame has three columns: 'Name', 'Age', and 'Gender', and each column is a Series.

Next, we create a Series called 'ages' using the pd.Series() function. It contains only the 'Age' column from the DataFrame.

The main difference is that the DataFrame provides a tabular structure with multiple columns, whereas a Series 
represents a single column of data. DataFrame allows you to work with and manipulate structured data more conveniently, 
while Series is suitable for analyzing and manipulating one-dimensional data.

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some common functions:

head() and tail(): 
    These functions allow you to view the first or last few rows of the DataFrame, respectively. They are useful for 
    quickly inspecting the data.

info(): 
    This function provides a summary of the DataFrame, including the data types, column names, and the count of non-null values 
    in each column. It helps to understand the structure of the DataFrame.

describe(): 
    This function generates descriptive statistics of the numerical columns in the DataFrame, such as count, mean, standard 
    deviation, minimum, maximum, and quartile values.

shape: 
    This attribute returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns). It is useful 
    to check the size of the DataFrame.

loc[] and iloc[]: 
    These are used for indexing and slicing the DataFrame. loc[] is label-based indexing, allowing you to access rows or columns using 
    their labels, while iloc[] is integer-based indexing, allowing you to access rows or columns using their integer positions.

drop(): 
    This function is used to drop specified rows or columns from the DataFrame. It helps in removing unnecessary data or handling 
    missing values.

groupby(): 
    This function is used for grouping the DataFrame based on one or more columns. It enables you to perform aggregations, 
    transformations, or analysis on groups of data.

sort_values(): 
    This function is used to sort the DataFrame based on one or more columns. It helps in arranging the data in a desired order.

In [9]:
import pandas as pd

# Create a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Example usage of functions
print("First few rows:")
print(df.head())

print("\nSummary statistics:")
print(df.describe())

print("\nShape of DataFrame:")
print(df.shape)

print("\nDrop 'Gender' column:")
df_dropped = df.drop('Gender', axis=1)
print(df_dropped)

print("\nGroup by 'Gender' and calculate average age:")
avg_age_by_gender = df.groupby('Gender')['Age'].mean()
print(avg_age_by_gender)

print("\nSort DataFrame by 'Age' in descending order:")
df_sorted = df.sort_values('Age', ascending=False)
print(df_sorted)

First few rows:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Summary statistics:
             Age
count   3.000000
mean   27.333333
std     2.516611
min    25.000000
25%    26.000000
50%    27.000000
75%    28.500000
max    30.000000

Shape of DataFrame:
(3, 3)

Drop 'Gender' column:
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

Group by 'Gender' and calculate average age:
Gender
Female    26.0
Male      30.0
Name: Age, dtype: float64

Sort DataFrame by 'Age' in descending order:
     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female
0   Alice   25  Female

In [ ]:
In the example above, we create a DataFrame called df and demonstrate the usage of various functions. We use head() to 
display the first few rows, describe() to generate summary statistics, shape to get the dimensions of the DataFrame, 
drop() to remove the 'Gender' column, groupby() to group the data by 'Gender' and calculate the average age, and sort_values() 
to sort the DataFrame based on the 'Age' column.

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Among the options given (Series, DataFrame, Panel), both Series and DataFrame are mutable in nature, while Panel is not.

A mutable object is one that can be modified after its creation. In the context of Pandas, a mutable object allows you to modify
its values, add or remove elements, or change its structure.

In particular:

Series: 
    A Pandas Series is mutable, meaning you can modify its values, change the index labels, or add/remove elements using various 
    methods provided by Pandas. For example, you can update values in a Series using assignment (series['key'] = new_value), add 
    elements using series.append(), or remove elements using series.drop().
    
DataFrame: 
    Similarly, a Pandas DataFrame is mutable. You can modify its values, change column labels or row index labels, add or remove 
    columns/rows using various DataFrame methods. For example, you can update values in a DataFrame by assigning new values to specific 
    cells (df.loc[row_index, column_name] = new_value), add columns using df['new_column'] = values, or remove columns using 
    df.drop(columns=['column_name']).
    
Panel:
    Panel is not mutable. Panel was a three-dimensional data structure in earlier versions of Pandas, but it has been 
    deprecated since Pandas version 0.20.0. As of the current versions of Pandas (up to version 1.3.0), 
    Panel is not recommended for general use. Instead, multi-dimensional data can be efficiently represented and manipulated using 
    hierarchical indexing and multi-indexing in Series or DataFrame objects.

To summarize, Series and DataFrame are mutable, allowing you to modify their values, while Panel is not recommended for use in 
current versions of Pandas.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [10]:
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])


data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)


print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
In the example above, we first create three individual Series: name_series, age_series, and gender_series. Each Series represents 
a column in the DataFrame.

Next, we create a dictionary data, where the keys represent the column names ('Name', 'Age', 'Gender'), and the values 
are the corresponding Series.

Finally, we pass the data dictionary to the pd.DataFrame() function, which creates the DataFrame df with three columns: 
'Name', 'Age', and 'Gender'. We then print the resulting DataFrame.

By using multiple Series, we can combine different columns of data to create a structured DataFrame, allowing for easy analysis 
and manipulation.